<!--start of single article-->
<article class="main-section">
  <div class="images">
    <!-- prev next buttons -->
    <button class="icon-btn prev-btn prev-mob">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="icon-btn next-btn next-mob">
      <i class="fas fa-chevron-right"></i>
    </button>
    <!--Main img -->
    <picture class="gallery">
      <img
        class="main-img selected"
        src="/images/image-product-1.jpg"
        alt="product"
        data-id="0"
      />
    </picture>
    <!--small tag image container-->
    <div class="small-img">
      <div class="image-wrapper selected" data-id="0">
        <img
          src="/images/image-product-1-thumbnail.jpg"
          alt="product-1"
          class="img"
          data-id="0"
        />
      </div>
      <div class="image-wrapper" data-id="1">
        <img
          src="/images/image-product-2-thumbnail.jpg"
          alt="product-2"
          class="img"
          data-id="1"
        />
      </div>
      <div class="image-wrapper" data-id="2">
        <img
          src="/images/image-product-3-thumbnail.jpg"
          alt="product-3"
          class="img"
          data-id="2"
        />
      </div>
      <div class="image-wrapper" data-id="3">
        <img
          src="/images/image-product-4-thumbnail.jpg"
          alt="product-4"
          class="img"
          data-id="3"
        />
      </div>
    </div>
  </div>
  <!--product text-->
  <div class="product-text para-one">
    <h1>sneaker company</h1>
    <h2 class="item__title">fall limited edition sneakers</h2>
    <p>
      These low-sneakers are your perfect casual wear companion.Featuring a
      durable rubber outer sole. they'll withstand everything the weather can
      offer.
    </p>
    <span class="price__tag"
      ><span class="new__price"
        ><span class="new__offer" data-value="125">$125.00</span>
        <span class="rate">50%</span></span
      ><span class="old__price">$250.00</span></span
    >
    <div class="btn-flex">
      <span class="counter"
        ><button class="icon-btn counter-btn minus">
          <i><img src="/images/icon-minus.svg" alt="minus" /></i>
        </button>
        <span class="number">0</span>
        <button class="icon-btn counter-btn plus">
          <i><img src="/images/icon-plus.svg" alt="plus" /> </i>
        </button>
      </span>
      <button class="btn btn-cart">
        <i><img src="./images/icon-cart.svg" alt="cart" /></i> Add to Cart
      </button>
    </div>
  </div>
</article>
<!--end of single article-->
<img src="/other images/men/brand-men/brand-men-one.jpg" alt="" />
