<!--cart item 1-->
<!-- <div class="cart-price">
                  <p>Your cart is empty</p>
                   <img
                    class="cart-price-img"
                    src="./images/image-product-1-thumbnail.jpg"
                    alt=""
                  /><span class="cart-span"
                    ><span class="cart-text"
                      >fall limited edition sneakers</span
                    >
                    <span class="card-cash">
                      <span class="price">125$</span> x
                      <span class="items">3</span>
                      <span class="result"><b>375$</b> </span>
                    </span></span
                  >

                  <button class="icon-btn icon-delete">
                    <i>
                      <img src="./images/icon-delete.svg" alt="icon-delete"
                    /></i>
                  </button> -->
<!-- </div> -->
