<main>
  <!--main section-->
  <section class="main-section">
    <div class="images">
      <picture class="gallery">
        <img src="/images/image-product-1.jpg" alt="product" />
      </picture>
      <!--small tag image container-->
      <div class="small-img">
        <div class="image-wrapper selected">
          <img src="/images/image-product-1-thumbnail.jpg" alt="product-1" />
        </div>
        <div class="image-wrapper">
          <img src="/images/image-product-2-thumbnail.jpg" alt="product-2" />
        </div>
        <div class="image-wrapper">
          <img src="/images/image-product-3-thumbnail.jpg" alt="product-3" />
        </div>
        <div class="image-wrapper">
          <img src="/images/image-product-4-thumbnail.jpg" alt="product-4" />
        </div>
      </div>
    </div>
    <!--product text-->
    <div class="product-text">
      <h1>sneaker company</h1>
      <h2>fall limited edition sneakers</h2>
      <p>
        These low-sneakers are your perfect casual wear companion.Featuring a
        durable rubber outer sole. they'll withstand everything the weather can
        offer.
      </p>
      <span class="price__tag"
        ><span class="new__price"
          ><span class="new__offer">$125.00</span>
          <span class="rate">50%</span></span
        ><span class="old__price">$250.00</span></span
      >
      <div class="btn-flex">
        <span class="counter"
          ><i><img src="/images/icon-minus.svg" alt="minus" /></i>
          <span class="number">0</span>
          <i><img src="/images/icon-plus.svg" alt="plus" /> </i
        ></span>

        <button class="cart">
          <i><img src="/images/icon-cart.svg" alt="" /></i>Add to cart
        </button>
      </div>
    </div>
    <!--modal-->
    <div class="modal close-modal">
      <div class="modal-images">
        <button class="close-btn">
          <i class="fas fa-times"></i>
        </button>
        <!-- prev next buttons -->
        <button class="prev-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="next-btn">
          <i class="fas fa-chevron-right"></i>
        </button>
        <picture class="modal-gallery">
          <img src="/images/image-product-1.jpg" alt="product" />
        </picture>
        <div class="small-img">
          <div class="image-wrapper selected">
            <img
              class="active"
              src="/images/image-product-1-thumbnail.jpg"
              alt="product-1"
            />
          </div>

          <div class="image-wrapper">
            <img src="/images/image-product-2-thumbnail.jpg" alt="product-2" />
          </div>
          <div class="image-wrapper">
            <img src="/images/image-product-3-thumbnail.jpg" alt="product-3" />
          </div>
          <div class="image-wrapper">
            <img src="/images/image-product-4-thumbnail.jpg" alt="product-4" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
