<!-- <div class="image-wrapper selected">
                  <img
                    class="modal-img"
                    src="/images/image-product-1-thumbnail.jpg"
                    alt="product-1"
                    data-id="0"
                  />
                </div>
                <div class="image-wrapper">
                  <img
                    src="/images/image-product-2-thumbnail.jpg"
                    alt="product-2"
                    class="modal-img"
                    data-id="1"
                  />
                </div>
                <div class="image-wrapper">
                  <img
                    src="/images/image-product-3-thumbnail.jpg"
                    alt="product-3"
                    class="modal-img"
                    data-id="2"
                  />
                </div>
                <div class="image-wrapper">
                  <img
                    src="/images/image-product-4-thumbnail.jpg"
                    alt="product-4"
                    class="modal-img"
                    data-id="3"
                  />
                </div> -->
