<header>
  <section>
    <nav>
      <!--navbar-->
      <div class="nav-bar">
        <i><img class="menu__icon" src="/images/icon-menu.svg" alt="" /></i>
        <picture class="logo"
          ><img src="/images/logo.svg" alt="logo" />
        </picture>
        <div class="nav-list">
          <ul class="list">
            <li class="list-item"><a href="#">collections</a></li>
            <li class="list-item"><a href="#">men</a></li>
            <li class="list-item"><a href="#">women</a></li>
            <li class="list-item"><a href="#">about</a></li>
            <li class="list-item"><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="nav-icon">
        <img src="/images/icon-cart.svg" alt="cart" />
        <img class="avatar__img" src="/images/image-avatar.png" alt="avatar" />
      </div>
    </nav>
    <hr />
  </section>
</header>
