/*CART CARD*/
@keyframes cart {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(3%);
  }
}
.cart-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 2.5rem;

  max-width: 25rem;
  height: 12rem;
  border-radius: 10px;
  background-color: $color-white;
  box-shadow: $dark-shadow;
  padding: 0.5rem 0.5rem;

  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 2;

  h2 {
    font-size: 0.9rem;
  }
  hr {
    position: relative;
    top: 0.2rem;
    margin: auto;
    display: block;
    width: 100%;
    z-index: 1;
  }
}
.emptyText {
  margin: 3rem auto;
  font-weight: 700;
}
.cart-card::-webkit-scrollbar {
  width: 0.7em;
}
.cart-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.cart-card::-webkit-scrollbar-thumb {
  background-color: hsl(26, 100%, 55%);
  outline: 1px solid rgb(245, 253, 1);
}
@media screen and (max-width: 500px) {
  .cart-card {
    right: -3rem;
  }
}
.cart-wrapper {
  position: relative;
}
.cart-price {
  display: grid;
  grid-template-columns: 0.2fr 1.6fr 0.2fr;
  max-width: 18rem;
  justify-content: center;
  justify-items: left;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;
  text-transform: capitalize;
  color: $color-dark-grayish-blue;
  margin-top: 1rem;
  position: relative;
}
.cart-price-img {
  width: 2.8rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 5px;
}
/*Alerts*/
.alert__cancel,
.alert__success {
  position: absolute;
  left: 3rem;
  bottom: 0.5rem;

  font-weight: 700;
  color: $color-white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.alert__cancel {
  background-color: red;
}
.alert__success {
  background-color: rgb(3, 255, 137);
  position: absolute;
}

/*javascript added classes*/
.close {
  visibility: hidden;
}
.open {
  visibility: visible;
}
.active {
  border: 3px solid $color-orange;
}
.open-cart {
  animation: cart 0.6s ease-in-out;
  visibility: visible;
}
