@import url('./_variables.scss');
/*DARK THEME*/
:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-grey: #64748b;
}

.dark-theme {
  --clr-bcg: #00030a;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-grey: #cbd5e1;
}
html {
  background-color: var(--clr-bcg);
  transition: background 1s;
}
body {
  color: var(--clr-font);
}
.dark-theme .list-item > a {
  color: #cbd5e1;
}
.dark-theme .list-item > a:hover {
  color: var(--clr-primary);
}
.dark-theme .product-text > h2 {
  color: var(--clr-font);
}
.dark-theme .product-text > p {
  color: var(--clr-grey);
}
.dark-theme .old__price {
  color: #d23669;
}
.dark-theme #nav {
  background-color: var(--clr-bcg);
}
.dark-theme .cart-card > h2,
.emptyText {
  color: #00030a;
}
/*dark btn*/
.dark-btn {
  padding: 0.25rem 0.3rem;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;

  background: hsl(26, 100%, 55%);
  color: #ffffff;
  border-color: transparent;

  transition: all 0.3s linear;
  cursor: pointer;
}
.dark-btn > i {
  transition: all 1s ease-in-out;
}

.dark-theme .dark-btn {
  background-color: #fff;
  color: black;
}
.fa-sun {
  opacity: 0;
}

.fa-circle-notch {
  transform: translateX(-15px);
}
.move_sun {
  opacity: 1;
  transform: rotate(360deg);
}
.move_circle {
  transform: translateX(15px);
}
.move_moon {
  opacity: 0;
  transform: rotate(180deg);
}

@media screen and (max-width: 960px) {
  .dark-btn {
    transform: scale(0.8);
  }
}
.hide-logo {
  display: none;
}
.open-logo {
  display: block;
}
